STRIPE_SECRET_KEY=sk_test_...
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_...
STRIPE_WEBHOOK_SECRET=whsec_...
NEXT_PUBLIC_GA_MEASUREMENT_ID=G-...
MAILCHIMP_API_KEY=...
MAILCHIMP_LIST_ID=...
REMOVE_BG_API_KEY=...
AZURE_COSMOS_ENDPOINT=https://<account>.documents.azure.com:443/
AZURE_COSMOS_KEY=...
